

#lh1{
    font-size: 0.6rem;
     font-weight: 100;
}
#lh2{
    
    font-size: 0.8rem;
    font-weight: 200;
}

.custom_nav{background-image: linear-gradient(70deg, #136a8a, #267871);

}

.logo_block{
    font-family: OpenSans, sans-serif;
    line-height: 0.05rem ;
   padding-left: 2.5rem;
   margin-top: -1.5rem;
   
}