


.custom_nav{
    background-image: linear-gradient(70deg, #136a8a, #267871);

}

#logo{
    padding-left: -1vw;
}

#facnav{
    font-size:10px;
    font-weight: 400;
}

#uninav{
    position: relative;
    font-size:12px;
    font-weight: 500;
    bottom: 20px;
}

.nmed-bdy{
    margin-left:-0.5vw;
}
.navbar-brand {
  padding: 0 15px;
  height: 10px;
  line-height: 80px;
}

.navbar-brand{
    position: relative;
    bottom: 0.6em;
    left: -0.8em;
   
}
